.PatchModal-container {
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.5);
}

.PatchModal-container.inactive {
  display: none;
}

.PatchModal-centered {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PatchModal-content {
  background: #282c34;
  width: 400px;
}

.PatchModal-list {
  overflow: scroll;
  height: 200px;
}

.PatchModal-container label {
  display: block;
}
