.Patch-rect {
  stroke: black;
  stroke-width: 2;
  fill: gold;
  opacity: 0.7;

  cursor: grab;
}

.react-draggable-dragging .Patch-rect {
  cursor: grabbing;
}

.Patch-port {
  fill: black;
  stroke: none;
}
