.Patch-body {
  cursor: grab;
}

.react-draggable-dragging .Patch-body {
  cursor: grabbing;
}

.Patch-rect {
  stroke: black;
  stroke-width: 2;
  fill: gold;
  opacity: 0.7;
}

.Patch-body:hover .Patch-rect {
  stroke: darkgoldenrod;
  stroke-width: 3;
}

.Patch-port {
  fill: black;
  stroke: none;

  cursor: pointer;
}

.Patch-port:hover {
  stroke: darkgoldenrod;
  stroke-width: 3;
}
