.Workspace {
  /* For the benefit of nested obsolutely positioned elements */
  position: relative;

  width: 100%;
}

.Workspace-view {
  height: 800px;
  overflow: auto;
}

.Workspace-surface {
  width: 3000px;
  height: 3000px;
}

.Workspace-background {
  fill: ghostwhite;
}
